* {

}

html {

}

body {
	font-family: 'Lucida Grande', 'Helvetica', 'Arial';
}

.some-space {
    margin-bottom: 20px;
}

.icons {
		width: 100%;
		height: 200px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border: 2px solid #eee;
	  
}
